#projects
  background-color: var(--bg-alt1)
  margin-top: 420px
  padding: calc(var(--nav-height) + var(--space-lg)) 10px 0
  padding-bottom: 100px

.projects
  &__title
    font-weight: 400
    font-size: 4rem
    text-align: center
    color: var(--text-colored-dark)
    margin-bottom: var(--space-lg)
