.skills
  &__list
    padding: 2rem
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(3, 1fr)
    margin: 0 auto
    @media (min-width: 600px)
      grid-template-columns: repeat(4, 1fr)
      padding: 3rem
      grid-gap: 30px
    @media (min-width: 900px)
      grid-template-columns: repeat(4, 1fr)
      max-width: 786px

.skill__card  
  padding: 1rem
  box-shadow: var(--shadow-sm)
  border-radius: var(--border-radius-lg)
