.about
  padding: 1rem
  @media (min-width: 600px)
    padding: 2rem
  @media (min-width: 900px)
    padding: 3rem 2rem
  @media (min-width: 1200px)
    padding: 4rem 2rem
  &__title
    color: var(--title-color)
    margin-top: 1rem
    &-container
      margin-bottom: var(--space-sm)
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      flex-wrap: wrap
      @media (min-width: 600px)
        margin-bottom: var(--space-lg)
        flex-direction: row
        .me
          margin-right: var(--space-md)
      @media (min-width: 900px)
        justify-content: flex-start
      .me
        max-width: 120px
  &__info
    line-height: 1.3
    margin-bottom: 25px
    max-width: 786px
    &:last-of-type
      margin-bottom: 40px
    @media (min-width: 900px)
      font-size: 18px
  .my-links
    margin-bottom: 40px
