.contact
  &__container
    display: flex
    flex-direction: column
  &__form
    padding: 0 10px
    margin: 0 auto
    overflow: auto
    max-width: 400px
    &-container
      flex: 2
      padding: 1rem 0
    &-title
      color: var(--title-color)
      text-align: center
      padding: 20px 0
      font-size: 20px
      margin-bottom: 1rem
    &-submit
      position: relative
      cursor: pointer
      display: flex
      margin: 30px 0
      height: 50px
      width: 100%
      align-items: center
      justify-content: center
      font-weight: 600
      border-radius: var(--border-radius-lg)
      border: none
      background-color: #4f8dc1
      color: #FFF
      box-shadow: var(--shadow-sm)
      outline: none
      transition: 150ms background
      &:hover
        background-color: #467ca9
      &:active
        background-color: #2b5a82
      #Capa_1
        position: absolute
        top: calc(50% - 20px)
        right: 25%
        width: 40px
  &__details
    text-align: center
    flex: 1
    order: -1
    border-radius: var(--border-radius-lg)
    background-color: #4f8dc1c7
    padding: 1rem 1.5rem
    color: #FFF
    &-title
      margin: var(--space-md) 0 var(--space-lg)
      font-size: 20px
    &-item
      padding: 0.5rem 0
      font-size: 18px
      .email__link
        color: #FFF

@media (min-width: 786px)
  .contact
    &__container
      flex-direction: row
    &__details
      text-align: left
      order: 0

@media (min-width: 900px)
  .contact
    &__form-container, &__details
      padding-top: 80px 
      padding-bottom: 80px 
