.footer
  padding: 20px 0
  background: var(--bg-alt3)
  box-shadow: 0 3px 9px rgb(64, 22, 115)
  .container
    color: #FFF
    display: flex
    align-items: center
    flex-wrap: wrap
    @media (min-width: 900px)
      flex-wrap: nowrap
  &__text
    width: 100%
    margin-bottom: 20px
    @media (min-width: 900px)
      width: auto
      margin-bottom: 0
      margin-right: 20px
